#icons:hover{
    
    background-color: rgba(167, 9, 9, 0.733);
}
#portfolio{
    background-color: #0c1a22;
    
}
#upload_single{
    background-color: #ffffffe1;
    /* background-color: #4a8ead; */
}